# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/
static/

# Environment files
.env
*.env
.env.local
.env.backend
*/.env

# Virtual environment
venv/
env/

# Node
node_modules/

# Logs
*.log